<hr>
<div class="content">
    <h1 class="title">Reseñas</h1>
    <div class="reviews">
        <div class="item">
            <p>"Un excelente trabajo, la manera en que se capta el momento y la manera
                que ayudas a conservar los buenos recuerdos es única y excelente"
            </p>
            <h3>John Barboza</h3>
        </div>
        <div class="item">
            <p>"En mi opinión sos una persona que ama lo que haces con la fotografía, 
                tienes la paciencia, y dedicación a todo ello, generas una confianza 
                muy  linda e importante para el cliente"
            </p>
            <h3>Dariela Moraga</h3>
        </div>
        <div class="item">
            <p>"El servicio se destaca por su profesionalismo y su capacidad para hacer
                que sus clientes se sientan cómodos frente a la cámara" 
            </p>
            <h3>Gloriana Parra</h3>
        </div>
        <div class="item">
            <p>"Excelentes servicios, una calidad de fotos espectacular y atención 
                completamente personalizadas para sacar lo mejor de sus clientes 
                y guardar bellos momentos"
            </p> 
            <h3>Ericka Picado</h3>
        </div>
        <div class="item">
            <p>"Se destaca en la zona por su forma de atender a los clientes, 
                tiene paciencia, carisma y ayuda a que todo sea muy cómodo. 
                Además la calidad del trabajo es maravillosa"
            </p>
            <h3>Dennia Granados</h3>
        </div>
    </div>
</div>
<hr>
