@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content {
    text-align: center;
    opacity: 0;
    animation: fade 1s ease-in forwards;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    margin-right: 30px;
}

.title {
    color: darkcyan;
}

hr {
    border: 1px solid darkcyan;
    margin: 30px;
}

p {
    font-size: 20px;
}

h3 {
    margin-right: 20px;
    text-align: right;
}

.item {
    max-width: 60%;
    margin: 0 auto;
    color: whitesmoke;
    font-style: italic;
    background: linear-gradient(to top right, darkslateblue, darkcyan);
    border: 2px solid darkcyan;
    border-radius: 5px;
    justify-content: center;
}