<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="content">
    <h1 class="title">
      <span class="camera1">📸</span>{{ title }}
      <span class="camera2">📸</span>
    </h1>
    <div class="info">
      <div class="info_object">
        <h3>{{author}}</h3>
      </div>
      <div class="info_object">
        <h3>{{email}}</h3>
      </div>
      <div class="info_object">
        <h3>{{phone}}</h3>
      </div>
    </div>
    <hr>
    <div class="nav-links">
      <a routerLink="/company" routerLinkActive="active">¿Quiénes somos?</a>
      <a routerLink="/packages" routerLinkActive="active">Nuestros paquetes</a>
      <a routerLink="/customers" routerLinkActive="active">Nuestros clientes</a>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
