<hr>
<div class="content">
    <div class="column">
        <h1 class="subtitle">Nuestra historia</h1>
        <p class="text">
            Visual Photography, es un emprendimiento de fotografía, fundado
            y dirigido por {{ author }}. Este cuenta con 8 años de consolidación 
            y su trabajo se establece principalmente en el cantón de Hojancha.
        </p>
        <p class="text"> {{ author }}, apasionada por capturar momentos únicos 
            y crear recuerdos duraderos, ofrece una amplia gama de servicios que 
            incluyen sesiones fotográficas individuales, familiares y para grupos 
            de amigos, así como la cobertura de eventos especiales como cumpleaños, 
            matrimonios y fiestas. Además, se especializa en fotografía de 
            productos, brindando servicios a negocios y pequeñas marcas que buscan 
            mejorar su imagen comercial.
        </p>
        <p class="text">
            Operando como una empresa unipersonal, {{ author }} se encarga 
            personalmente de todos los aspectos del negocio, desde la gestión 
            de redes sociales y la producción de contenido hasta el marketing 
            y la atención al cliente. A pesar de ser el único miembro del 
            equipo, ha logrado cultivar una presencia en línea con 494 seguidores 
            en Instagram y 1335 en Facebook, plataformas que utiliza para conectar 
            con su audiencia y mostrar su trabajo. 
        </p>
    </div>
    <div class="column">
        <h1 class="subtitle">Nuestra misión</h1>
        <p class="text">
            "Proveer servicios fotográficos de muy alto valor
            para lograr la plena satisfacción de nuestros clientes"
        </p>
        <h1 class="subtitle">Nuestra visión</h1>
        <p class="text">
            "Ser la mayor empresa de fotografía del sector
            en el que el que trabajemos y lograr una gran expansión
            a nivel nacional"
        </p>
    </div>
</div>
<hr>
